In [1]:
import pandas as pd
df = pd.read_csv('matches.csv')
display(df.head(10))

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Premier League,Matchweek 2,Mon,Away,W,3,1,...,Match Report,NaN,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Premier League,Matchweek 3,Sun,Home,L,2,5,...,Match Report,NaN,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Premier League,Matchweek 4,Sat,Away,D,1,1,...,Match Report,NaN,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Premier League,Matchweek 5,Sat,Home,W,1,0,...,Match Report,NaN,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Premier League,Matchweek 6,Sat,Away,D,1,1,...,Match Report,NaN,14,7,20.9,1,0,0,2024,Manchester City
5,9,2020-10-31,12:30 (14:30),Premier League,Matchweek 7,Sat,Away,W,1,0,...,Match Report,NaN,16,8,18.5,2,0,0,2024,Manchester City
6,11,2020-11-08,16:30 (18:30),Premier League,Matchweek 8,Sun,Home,D,1,1,...,Match Report,NaN,6,2,20.6,0,0,1,2024,Manchester City
7,12,2020-11-21,17:30 (19:30),Premier League,Matchweek 9,Sat,Away,L,0,2,...,Match Report,NaN,22,5,16.0,0,0,0,2024,Manchester City
8,14,2020-11-28,15:00 (17:00),Premier League,Matchweek 10,Sat,Home,W,5,0,...,Match Report,NaN,19,6,16.4,0,0,0,2024,Manchester City
9,16,2020-12-05,15:00 (17:00),Premier League,Matchweek 11,Sat,Home,W,2,0,...,Match Report,NaN,14,4,15.9,0,1,1,2024,Manchester City

In [2]:
#Aparentemente, las columnas de notes y match report no están aportando información relevante.
# Match report solo tiene match report en texto, y notes tiene valores nulos. Verificamos
display(f"Hay {df['notes'].isna().sum()} valores nulos en la columna notes")
display(f"Hay {df['match report'].isna().sum()} valores nulos en la columna match report")
display(f"Valores únicos en la lista: {df['match report'].unique().tolist()}")
df.drop('notes', axis=1, inplace=True)
df.drop('match report', axis=1, inplace=True)
df.head(5)

'Hay 4788 valores nulos en la columna notes'

'Hay 0 valores nulos en la columna match report'

"Valores únicos en la lista: ['Match Report']"

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Premier League,Matchweek 2,Mon,Away,W,3,1,...,4-2-3-1,Andre Marriner,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Premier League,Matchweek 3,Sun,Home,L,2,5,...,4-2-3-1,Michael Oliver,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Premier League,Matchweek 4,Sat,Away,D,1,1,...,4-3-3,Mike Dean,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Premier League,Matchweek 5,Sat,Home,W,1,0,...,3-1-4-2,Chris Kavanagh,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Premier League,Matchweek 6,Sat,Away,D,1,1,...,4-3-3,Anthony Taylor,14,7,20.9,1,0,0,2024,Manchester City

In [3]:
df.info()
# Podemos observar que hay valores nulos en la columna attendance, reemplazamos por 0 esos valores
df['attendance'] = df['attendance'].fillna(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4788 non-null   int64
 1   date        4788 non-null   object
 2   time        4788 non-null   object
 3   comp        4788 non-null   object
 4   round       4788 non-null   object
 5   day         4788 non-null   object
 6   venue       4788 non-null   object
 7   result      4788 non-null   object
 8   gf          4788 non-null   int64
 9   ga          4788 non-null   int64
 10  opponent    4788 non-null   object
 11  xg          4788 non-null   float64
 12  xga         4788 non-null   float64
 13  poss        4788 non-null   int64
 14  attendance  3155 non-null   float64
 15  captain     4788 non-null   object
 16  formation   4788 non-null   object
 17  referee     4788 non-null   object
 18  sh          4788 non-null   int64
 19  sot         4788 non-null   int64
 20  dist        4786 non-null   float64
 21  fk          4788 non-null   int64
 22  pk          4788 non-null   int64
 23  pkatt       4788 non-null   int64
 24  season      4788 non-null   int64
 25  team        4788 non-null   object
dtypes: float64(4), int64(10), object(12)
memory usage: 972.7+ KB

In [4]:
# Verificamos que la lista de equipos no tenga equipos repetidos que puedan ser el mismo equipo
display(pd.DataFrame(df['team'].unique().tolist(), columns = ['teams']).sort_values('teams'))
display(pd.DataFrame(df['opponent'].unique().tolist(), columns = ['opponents']).sort_values('opponents'))
teams = set(df['team'].unique().tolist())
opponents = set(df['opponent'].unique().tolist())
display(teams)
display(opponents)
display(f"La diferencia de equipos es: {teams.difference(opponents)}")
display(f"La diferencia de equipos es: {opponents.difference(teams)}")
#Notaremos mejor las diferencias de los hacemos las diferencias A-B y B-A de los conjuntos teams y opponents
#Podré ver la "version" distinta de los equipos

#La columna unnamed 0, no aporta información relevante, la eliminamos
#df.drop('Unnamed: 0', axis=1, inplace=True)

                       teams
7                    Arsenal
10               Aston Villa
20               Bournemouth
21                 Brentford
15  Brighton and Hove Albion
16                   Burnley
3                    Chelsea
13            Crystal Palace
9                    Everton
17                    Fulham
8               Leeds United
4             Leicester City
2                  Liverpool
23                Luton Town
0            Manchester City
1          Manchester United
11          Newcastle United
25              Norwich City
22         Nottingham Forest
19          Sheffield United
14               Southampton
6          Tottenham Hotspur
24                   Watford
18      West Bromwich Albion
5            West Ham United
12   Wolverhampton Wanderers

          opponents
3           Arsenal
17      Aston Villa
21      Bournemouth
25        Brentford
15         Brighton
8           Burnley
14          Chelsea
16   Crystal Palace
18          Everton
9            Fulham
2      Leeds United
1    Leicester City
6         Liverpool
24       Luton Town
19  Manchester City
10   Manchester Utd
13    Newcastle Utd
20     Norwich City
23  Nott'ham Forest
5     Sheffield Utd
12      Southampton
7         Tottenham
22          Watford
11        West Brom
4          West Ham
0            Wolves

{'Arsenal',
 'Aston Villa',
 'Bournemouth',
 'Brentford',
 'Brighton and Hove Albion',
 'Burnley',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Leeds United',
 'Leicester City',
 'Liverpool',
 'Luton Town',
 'Manchester City',
 'Manchester United',
 'Newcastle United',
 'Norwich City',
 'Nottingham Forest',
 'Sheffield United',
 'Southampton',
 'Tottenham Hotspur',
 'Watford',
 'West Bromwich Albion',
 'West Ham United',
 'Wolverhampton Wanderers'}

{'Arsenal',
 'Aston Villa',
 'Bournemouth',
 'Brentford',
 'Brighton',
 'Burnley',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Leeds United',
 'Leicester City',
 'Liverpool',
 'Luton Town',
 'Manchester City',
 'Manchester Utd',
 'Newcastle Utd',
 'Norwich City',
 "Nott'ham Forest",
 'Sheffield Utd',
 'Southampton',
 'Tottenham',
 'Watford',
 'West Brom',
 'West Ham',
 'Wolves'}

"La diferencia de equipos es: {'Manchester United', 'Wolverhampton Wanderers', 'Sheffield United', 'Brighton and Hove Albion', 'Tottenham Hotspur', 'West Bromwich Albion', 'West Ham United', 'Newcastle United', 'Nottingham Forest'}"

'La diferencia de equipos es: {\'Brighton\', \'Manchester Utd\', \'West Ham\', \'Wolves\', \'Newcastle Utd\', \'Sheffield Utd\', "Nott\'ham Forest", \'Tottenham\', \'West Brom\'}'

In [5]:
# La columna comp, no aporta información relevante, la eliminamos, la competición es la premier league, ya sabemos que son partidos de premier league
df.drop('comp', axis=1, inplace=True)
variables = df.columns
display(variables)

Index(['Unnamed: 0', 'date', 'time', 'round', 'day', 'venue', 'result', 'gf',
       'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain',
       'formation', 'referee', 'sh', 'sot', 'dist', 'fk', 'pk', 'pkatt',
       'season', 'team'],
      dtype='object')

In [6]:
df['attendance'] = df['attendance'].fillna(0)
display(df['attendance'].unique())

array([    0.,  7945., 10000., ..., 10384., 26781., 27074.])

In [7]:
display(df.info())
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4788 non-null   int64
 1   date        4788 non-null   object
 2   time        4788 non-null   object
 3   round       4788 non-null   object
 4   day         4788 non-null   object
 5   venue       4788 non-null   object
 6   result      4788 non-null   object
 7   gf          4788 non-null   int64
 8   ga          4788 non-null   int64
 9   opponent    4788 non-null   object
 10  xg          4788 non-null   float64
 11  xga         4788 non-null   float64
 12  poss        4788 non-null   int64
 13  attendance  4788 non-null   float64
 14  captain     4788 non-null   object
 15  formation   4788 non-null   object
 16  referee     4788 non-null   object
 17  sh          4788 non-null   int64
 18  sot         4788 non-null   int64
 19  dist        4786 non-null   float64
 20  fk          4788 non-null   int64
 21  pk          4788 non-null   int64
 22  pkatt       4788 non-null   int64
 23  season      4788 non-null   int64
 24  team        4788 non-null   object
dtypes: float64(4), int64(10), object(11)
memory usage: 935.3+ KB

None

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Matchweek 2,Mon,Away,W,3,1,Wolves,...,4-2-3-1,Andre Marriner,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Matchweek 3,Sun,Home,L,2,5,Leicester City,...,4-2-3-1,Michael Oliver,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Matchweek 4,Sat,Away,D,1,1,Leeds United,...,4-3-3,Mike Dean,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Matchweek 5,Sat,Home,W,1,0,Arsenal,...,3-1-4-2,Chris Kavanagh,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Matchweek 6,Sat,Away,D,1,1,West Ham,...,4-3-3,Anthony Taylor,14,7,20.9,1,0,0,2024,Manchester City
5,9,2020-10-31,12:30 (14:30),Matchweek 7,Sat,Away,W,1,0,Sheffield Utd,...,4-3-3,Michael Oliver,16,8,18.5,2,0,0,2024,Manchester City
6,11,2020-11-08,16:30 (18:30),Matchweek 8,Sun,Home,D,1,1,Liverpool,...,4-2-3-1,Craig Pawson,6,2,20.6,0,0,1,2024,Manchester City
7,12,2020-11-21,17:30 (19:30),Matchweek 9,Sat,Away,L,0,2,Tottenham,...,4-3-3,Mike Dean,22,5,16.0,0,0,0,2024,Manchester City
8,14,2020-11-28,15:00 (17:00),Matchweek 10,Sat,Home,W,5,0,Burnley,...,4-2-3-1,Lee Mason,19,6,16.4,0,0,0,2024,Manchester City
9,16,2020-12-05,15:00 (17:00),Matchweek 11,Sat,Home,W,2,0,Fulham,...,4-2-3-1,Jonathan Moss,14,4,15.9,0,1,1,2024,Manchester City

In [8]:
#Observemos los días únicos
display(df['day'].unique())
display(df['venue'].unique())
display(df['formation'].unique())

#Ya tenemos que hay que corregir las formaciones, y también corregir los teams como se mencionó anteriormente

df['opponent'] = df['opponent'].replace('Tottenham', 'Tottenham Hotspur')
df['opponent'] = df['opponent'].replace("Nott'ham Forest", 'Nottingham Forest')
df['opponent'] = df['opponent'].replace('West Brom', 'West Bromwich Albion')
df['opponent'] = df['opponent'].replace('Brighton', 'Brighton and Hove Albion')
df['opponent'] = df['opponent'].replace('West Ham', 'West Ham United')
df['opponent'] = df['opponent'].replace('Sheffield Utd', 'Sheffield United')
df['opponent'] = df['opponent'].replace('West Ham', 'West Ham United')
df['opponent'] = df['opponent'].replace('Newcastle Utd', 'Newcastle United')
df['opponent'] = df['opponent'].replace('Manchester Utd', 'Manchester United')
df['opponent'] = df['opponent'].replace('Wolves', 'Wolverhampton Wanderers')

teams = set(df['team'].unique().tolist())
opponents = set(df['opponent'].unique().tolist())

df['formation'] = df['formation'].str.replace(r'[^\x00-\x7F]+', '', regex=True)
df['formation'] = df['formation'].str.rstrip('-0')

display(teams.difference(opponents)) # Verificamos que en efecto, ya no hay diferencia entre teams y opponents

array(['Mon', 'Sun', 'Sat', 'Tue', 'Wed', 'Fri', 'Thu'], dtype=object)

array(['Away', 'Home'], dtype=object)

array(['4-2-3-1', '4-3-3', '3-1-4-2', '3-4-3◆', '3-4-3', '4-4-1-1',
       '4-1-2-1-2◆', '4-3-1-2', '4-4-2', '4-2-2-2', '3-4-1-2', '3-5-2',
       '4-1-4-1', '5-4-1', '3-3-3-1', '4-3-2-1', '5-3-2', '3-5-1-1',
       '4-1-3-2', '4-5-1', '3-2-4-1', '4-2-4-0'], dtype=object)

set()

In [9]:
df.head(10)

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Matchweek 2,Mon,Away,W,3,1,Wolverhampton Wanderers,...,4-2-3-1,Andre Marriner,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Matchweek 3,Sun,Home,L,2,5,Leicester City,...,4-2-3-1,Michael Oliver,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Matchweek 4,Sat,Away,D,1,1,Leeds United,...,4-3-3,Mike Dean,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Matchweek 5,Sat,Home,W,1,0,Arsenal,...,3-1-4-2,Chris Kavanagh,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Matchweek 6,Sat,Away,D,1,1,West Ham United,...,4-3-3,Anthony Taylor,14,7,20.9,1,0,0,2024,Manchester City
5,9,2020-10-31,12:30 (14:30),Matchweek 7,Sat,Away,W,1,0,Sheffield United,...,4-3-3,Michael Oliver,16,8,18.5,2,0,0,2024,Manchester City
6,11,2020-11-08,16:30 (18:30),Matchweek 8,Sun,Home,D,1,1,Liverpool,...,4-2-3-1,Craig Pawson,6,2,20.6,0,0,1,2024,Manchester City
7,12,2020-11-21,17:30 (19:30),Matchweek 9,Sat,Away,L,0,2,Tottenham Hotspur,...,4-3-3,Mike Dean,22,5,16.0,0,0,0,2024,Manchester City
8,14,2020-11-28,15:00 (17:00),Matchweek 10,Sat,Home,W,5,0,Burnley,...,4-2-3-1,Lee Mason,19,6,16.4,0,0,0,2024,Manchester City
9,16,2020-12-05,15:00 (17:00),Matchweek 11,Sat,Home,W,2,0,Fulham,...,4-2-3-1,Jonathan Moss,14,4,15.9,0,1,1,2024,Manchester City

In [10]:
display(df['captain'].unique())
display(df['referee'].unique())
display(df['result'].unique())

array(['Fernandinho', 'Kevin De Bruyne', 'Raheem Sterling',
       'Sergio Agüero', 'İlkay Gündoğan', 'Harry Maguire',
       'Nemanja Matić', 'Bruno Fernandes', 'Jordan Henderson',
       'Virgil van Dijk', 'James Milner', 'Georginio Wijnaldum',
       'Roberto Firmino', 'Jorginho', 'Thiago Silva', 'César Azpilicueta',
       "N'Golo Kanté", 'Kasper Schmeichel', 'Mark Noble', 'Declan Rice',
       'Aaron Cresswell', 'Hugo Lloris', 'Harry Kane',
       'Pierre-Emerick Aubameyang', 'Rob Holding', 'Héctor Bellerín',
       'Alexandre Lacazette', 'Luke Ayling', 'Liam Cooper',
       'Séamus Coleman', 'Gylfi Sigurðsson', 'Lucas Digne',
       'Mason Holgate', 'Michael Keane', 'Jack Grealish', 'Tyrone Mings',
       'John McGinn', 'Jamaal Lascelles', 'Jonjo Shelvey',
       'Federico Fernández', 'Conor Coady', 'Rúben Neves', 'Scott Dann',
       'Wilfried Zaha', 'Gary Cahill', 'Luka Milivojević',
       'James Ward-Prowse', 'Lewis Dunk', 'Adam Webster', 'Pascal Groß',
       'Ashley Westwood', 'Ben Mee', 'James Tarkowski', 'Tom Cairney',
       'Aleksandar Mitrović', 'Joachim Andersen', 'Tim Ream',
       'Jake Livermore', 'Kyle Bartley', 'Branislav Ivanović',
       'Matt Phillips', 'Billy Sharp', 'John Egan', 'David McGoldrick',
       'David Silva', 'David de Gea', 'Ashley Young', 'Willian',
       'Wes Morgan', 'Ben Davies', 'Toby Alderweireld', 'Jan Vertonghen',
       'Harry Winks', 'Kyle Walker', 'Rúben Dias', 'Martin Ødegaard',
       'Bukayo Saka', 'Trent Alexander-Arnold', 'Andrew Robertson',
       'Emiliano Martínez', 'Douglas Luiz', 'Son Heung-min',
       'Cristian Romero', 'Reece James', 'Ben Chilwell',
       'Conor Gallagher', 'Levi Colwill', 'Kieran Trippier', 'Dan Burn',
       'Scott McTominay', 'Casemiro', 'Kurt Zouma', 'Tomáš Souček',
       'Angelo Ogbonna', 'Łukasz Fabiański', 'Joel Ward', 'Marc Guéhi',
       'Adam Lallana', 'Neto', 'Lloyd Kelly', 'Adam Smith', 'Bobby Reid',
       'Harrison Reed', 'Bernd Leno', 'Max Kilman', 'José Sá',
       'Christian Nørgaard', 'Vitaly Janelt', 'Ivan Toney',
       'Mathias Jensen', 'Joe Worrall', 'Serge Aurier',
       'Morgan Gibbs-White', 'Ryan Yates', 'Felipe', 'Tom Lockyer',
       'Carlton Morris', 'Pelly Ruddock Mpanzu', "Amari'i Bell",
       'Josh Cullen', 'Josh Brownhill', 'Chris Basham', 'Oliver Norwood',
       'Anel Ahmedhodžić', 'Jack Robinson', 'Oliver McBurnie',
       'Oliver Arblaster', 'Granit Xhaka', 'Oleksandr Zinchenko',
       'Cristiano Ronaldo', 'Pontus Jansson', 'David Raya',
       'Mateo Kovačić', 'Kepa Arrizabalaga', 'João Moutinho',
       'Steve Cook', 'Remo Freuler', 'Jordan Pickford', 'Jonny Evans',
       'Youri Tielemans', 'Wilfred Ndidi', 'Marc Albrighton',
       'James Maddison', 'Patrick Bamford', 'Rodrigo', 'Robin Koch',
       'Marcos Alonso', 'Shane Duffy', 'Callum Wilson', 'Fabian Schär',
       'James McArthur', 'Ezri Konsa', 'Oriol Romeu', 'Yerry Mina',
       'Asmir Begović', 'Jack Cork', 'Tom Cleverley', 'Craig Cathcart',
       'William Troost-Ekong', 'Ben Foster', 'Moussa Sissoko',
       'Grant Hanley', 'Ben Gibson', 'Nacho Monreal', 'Pierre Højbjerg',
       'Leighton Baines', 'Andy Carroll', 'James Tomkins',
       'Dale Stephens', 'Simon Francis', 'Nathan Aké', 'Troy Deeney',
       'Étienne Capoue', 'Adrian Mariappa', 'Christoph Zimmermann',
       'Alexander Tettey', 'Ben Godfrey', 'Timm Klose'], dtype=object)

array(['Andre Marriner', 'Michael Oliver', 'Mike Dean', 'Chris Kavanagh',
       'Anthony Taylor', 'Craig Pawson', 'Lee Mason', 'Jonathan Moss',
       'Peter Bankes', 'Darren England', 'David Coote', 'Martin Atkinson',
       'Paul Tierney', 'Kevin Friend', 'Stuart Attwell', 'Andy Madley',
       'Graham Scott', 'Simon Hooper', 'Robert Jones', 'Oliver Langford',
       'Jarred Gillett', 'John Brooks', 'Tim Robinson', 'Samuel Barrott',
       'Michael Salisbury', 'Joshua Smith', 'Thomas Bramall',
       'Lewis Smith', 'Darren Bond', 'Tony Harrington', 'Samuel Allison',
       'Sunny Singh', 'Robert Madley', 'Rebecca Welch', 'Matt Donohue'],
      dtype=object)

array(['W', 'L', 'D'], dtype=object)

In [11]:
# Round podemos dejarla entera

df['round'] = df['round'].astype(str).str.lstrip('Matchweek ')
df['round'] = df['round'].astype(int)
df.head(10)

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),2,Mon,Away,W,3,1,Wolverhampton Wanderers,...,4-2-3-1,Andre Marriner,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),3,Sun,Home,L,2,5,Leicester City,...,4-2-3-1,Michael Oliver,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),4,Sat,Away,D,1,1,Leeds United,...,4-3-3,Mike Dean,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),5,Sat,Home,W,1,0,Arsenal,...,3-1-4-2,Chris Kavanagh,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),6,Sat,Away,D,1,1,West Ham United,...,4-3-3,Anthony Taylor,14,7,20.9,1,0,0,2024,Manchester City
5,9,2020-10-31,12:30 (14:30),7,Sat,Away,W,1,0,Sheffield United,...,4-3-3,Michael Oliver,16,8,18.5,2,0,0,2024,Manchester City
6,11,2020-11-08,16:30 (18:30),8,Sun,Home,D,1,1,Liverpool,...,4-2-3-1,Craig Pawson,6,2,20.6,0,0,1,2024,Manchester City
7,12,2020-11-21,17:30 (19:30),9,Sat,Away,L,0,2,Tottenham Hotspur,...,4-3-3,Mike Dean,22,5,16.0,0,0,0,2024,Manchester City
8,14,2020-11-28,15:00 (17:00),10,Sat,Home,W,5,0,Burnley,...,4-2-3-1,Lee Mason,19,6,16.4,0,0,0,2024,Manchester City
9,16,2020-12-05,15:00 (17:00),11,Sat,Home,W,2,0,Fulham,...,4-2-3-1,Jonathan Moss,14,4,15.9,0,1,1,2024,Manchester City

In [12]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['year'] = df['date'].dt.year
df.head(10)

#Hay algo sospechoso en los datos, la fecha de los partidos no corresponde con la temporada de la premier league
#Lo dejamos pasar

#Deben presentarse dos horas por la diferencia horaria de la premier league, separamos las horas en dos columnas

#display(df['time_zone1'].unique())
#df['time_zone2'] = df['time'].str[1]

display(df['time'].unique()) #Reviso si hay algo raro en los datos

df['time_zone1'] = df['time'].str.split('(').str[0].str.strip()
df['time_zone2'] = df['time'].str.split('(').str[1].str.strip(')')

#Convierto tipo de dato de las columnas
df['time_zone1'] = pd.to_datetime(df['time_zone1'], format='%H:%M').dt.strftime('%H:%M')
df['time_zone2'] = pd.to_datetime(df['time_zone2'], format='%H:%M').dt.strftime('%H:%M')


display(df[['time_zone1', 'time_zone2']].head(10))

array(['20:15 (21:15)', '16:30 (17:30)', '17:30 (18:30)', '12:30 (13:30)',
       '12:30 (14:30)', '16:30 (18:30)', '17:30 (19:30)', '15:00 (17:00)',
       '20:00 (22:00)', '18:00 (20:00)', '19:15 (21:15)', '20:15 (22:15)',
       '20:00 (21:00)', '19:00 (20:00)', '16:00 (17:00)', '14:00 (16:00)',
       '19:00 (21:00)', '19:30 (20:30)', '14:00 (15:00)', '14:05 (15:05)',
       '18:00 (19:00)', '19:15 (20:15)', '15:00 (16:00)', '12:00 (14:00)',
       '12:00 (13:00)', '14:15 (16:15)', '14:05 (16:05)', '19:30 (21:30)',
       '13:30 (14:30)', '17:45 (18:45)', '19:45 (21:45)', '16:15 (17:15)',
       '15:30 (17:30)', '15:45 (17:45)', '16:00 (18:00)', '15:30 (16:30)',
       '13:00 (15:00)', '19:45 (20:45)', '13:30 (15:30)', '16:15 (18:15)',
       '14:15 (15:15)'], dtype=object)

  time_zone1 time_zone2
0      20:15      21:15
1      16:30      17:30
2      17:30      18:30
3      17:30      18:30
4      12:30      13:30
5      12:30      14:30
6      16:30      18:30
7      17:30      19:30
8      15:00      17:00
9      15:00      17:00

In [13]:
df.drop('time', axis=1, inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4788 non-null   int64
 1   date        4788 non-null   datetime64[ns]
 2   round       4788 non-null   int32
 3   day         4788 non-null   int32
 4   venue       4788 non-null   object
 5   result      4788 non-null   object
 6   gf          4788 non-null   int64
 7   ga          4788 non-null   int64
 8   opponent    4788 non-null   object
 9   xg          4788 non-null   float64
 10  xga         4788 non-null   float64
 11  poss        4788 non-null   int64
 12  attendance  4788 non-null   float64
 13  captain     4788 non-null   object
 14  formation   4788 non-null   object
 15  referee     4788 non-null   object
 16  sh          4788 non-null   int64
 17  sot         4788 non-null   int64
 18  dist        4786 non-null   float64
 19  fk          4788 non-null   int64
 20  pk          4788 non-null   int64
 21  pkatt       4788 non-null   int64
 22  season      4788 non-null   int64
 23  team        4788 non-null   object
 24  month       4788 non-null   int32
 25  year        4788 non-null   int32
 26  time_zone1  4788 non-null   object
 27  time_zone2  4788 non-null   object
dtypes: datetime64[ns](1), float64(4), int32(4), int64(10), object(9)
memory usage: 972.7+ KB

In [15]:
#Había ignorado dos missing values de dist, los reemplazo por 0
df['dist'] = df['dist'].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4788 non-null   int64
 1   date        4788 non-null   datetime64[ns]
 2   round       4788 non-null   int32
 3   day         4788 non-null   int32
 4   venue       4788 non-null   object
 5   result      4788 non-null   object
 6   gf          4788 non-null   int64
 7   ga          4788 non-null   int64
 8   opponent    4788 non-null   object
 9   xg          4788 non-null   float64
 10  xga         4788 non-null   float64
 11  poss        4788 non-null   int64
 12  attendance  4788 non-null   float64
 13  captain     4788 non-null   object
 14  formation   4788 non-null   object
 15  referee     4788 non-null   object
 16  sh          4788 non-null   int64
 17  sot         4788 non-null   int64
 18  dist        4788 non-null   float64
 19  fk          4788 non-null   int64
 20  pk          4788 non-null   int64
 21  pkatt       4788 non-null   int64
 22  season      4788 non-null   int64
 23  team        4788 non-null   object
 24  month       4788 non-null   int32
 25  year        4788 non-null   int32
 26  time_zone1  4788 non-null   object
 27  time_zone2  4788 non-null   object
dtypes: datetime64[ns](1), float64(4), int32(4), int64(10), object(9)
memory usage: 972.7+ KB

In [16]:
#Hemos confirmado que no hay valores nulos, la primera columna Unnamed está haciendo ruido, no
#sabemos para que sirve, ni que representa, la eliminamos

df.drop('Unnamed: 0', axis=1, inplace=True)

In [17]:
#Guardamos el archivo limpio
df.to_csv('matches_clean.csv', index=False)